{{ $item := .item }}
{{ $context := .context }}
<div class="d-none d-md-block">
    <div class="row no-gutters {{ if not .hide_bottom_border }}border-bottom{{ end }} border-gray">
        <div class="col-md-3 col-xl-2 mb-md-0 p-md-3">
            {{ if $item.Params.cover }}
            <img data-src="{{ $item.Params.cover | relURL }}" alt="{{ $item.Title }}" class="lazy w-100 rounded-sm" src="{{ "assets/images/empty_300x200.png" | relURL }}">
            {{ else }}
            <svg class="bubble-visual-hash lazy w-100 rounded-sm" data-bubble-visual-hash="{{ $item.File.UniqueID }}" viewBox="0 0 300 200"></svg>
            {{ end }}
        </div>
        <div class="col-md-9 col-xl-10 p-3 pl-md-0">
            <h5 class="mt-0 mb-1 font-weight-normal">{{ $item.Title }}</h5>
            <p class="mt-0 mb-0 small">{{ partial "widgets/author_list.html" (dict "authors" $item.Params.authors "context" $context) }}</p>
            <p class="mt-0 mb-0 small">
                {{ if $item.Params.pub_pre }}{{ $item.Params.pub_pre | safeHTML }}{{ end }}
                <i>{{ $item.Params.pub }}</i>
                {{ if $item.Params.pub_post }}{{ $item.Params.pub_post | safeHTML }}{{ end }}
                {{ $item.Params.pub_date }}
                {{ if $item.Params.pub_last }}{{ $item.Params.pub_last | safeHTML }}{{ end }}
                {{ if $item.Params.semantic_scholar_id }}<span data-semantic-scholar-id="{{ $item.Params.semantic_scholar_id }}"></span>{{ end }}
            </p>
            {{ if $item.Params.abstract }}
            <p class="mt-0 mb-0 small text-muted">{{ $item.Params.abstract | markdownify }}</p>
            {{ end }}
            
            {{ if $item.Params.links }}
            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                {{ range $key, $value := $item.Params.links }}
                    {{ if reflect.IsMap $value }}
                    <a target="{{ $value.target }}" href="{{ $value.url }}">[{{ $key }}]</a>
                    {{ else }}
                    <a target="_blank" href="{{ $value }}">[{{ $key }}]</a>
                    {{ end }}
                {{ end }}
            </p>
            {{ end }}
        </div>
    </div>
</div>

<div class="row no-gutters d-md-none {{ if not .hide_bottom_border }}border-bottom{{ end }} border-gray {{ if .first }}rounded-xl-top{{ end }} {{ if .last }}rounded-xl-bottom{{ end }} {{ if $item.Params.cover }}lazy{{ end }}" data-src="{{ $item.Params.cover | relURL }}">
    <div class="w-100 {{ if .first }}rounded-xl-top{{ end }} {{ if .last }}rounded-xl-bottom{{ end }}" style="background-color: rgba(255,255,255,0.9);">
        <div class="d-flex align-items-start flex-column py-3 px-4">
            <div class="mb-auto"></div>
            <div>
                <h5 class="mt-0 mb-1 font-weight-normal">{{ $item.Title }}</h5>
                <p class="mt-0 mb-0 small">{{ partial "widgets/author_list.html" (dict "authors" $item.Params.authors "context" $context) }}</p>
                <p class="mt-0 mb-0 small">
                    {{ if $item.Params.pub_pre }}{{ $item.Params.pub_pre | safeHTML }}{{ end }}
                    <i>{{ $item.Params.pub }}</i>
                    {{ if $item.Params.pub_post }}{{ $item.Params.pub_post | safeHTML }}{{ end }}
                    {{ $item.Params.pub_date }}
                    {{ if $item.Params.pub_last }}{{ $item.Params.pub_last | safeHTML }}{{ end }}
                    {{ if $item.Params.semantic_scholar_id }}<span data-semantic-scholar-id="{{ $item.Params.semantic_scholar_id }}"></span>{{ end }}
                </p>
                {{ if $item.Params.abstract }}
                <p class="mt-0 mb-0 small text-muted">{{ $item.Params.abstract | markdownify }}</p>
                {{ end }}
                
                {{ if $item.Params.links }}
                <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                    {{ range $key, $value := $item.Params.links }}
                        {{ if reflect.IsMap $value }}
                        <a target="{{ $value.target }}" href="{{ $value.url }}">[{{ $key }}]</a>
                        {{ else }}
                        <a target="_blank" href="{{ $value }}">[{{ $key }}]</a>
                        {{ end }}
                    {{ end }}
                </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>