<footer class="footer border-top py-2 mt-5 bg-white small">
    <div class="{{ if .Params.container_class }}{{ .Params.container_class }}{{ else }}container-lg{{ end }}">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>{{ if eq .Language.Lang "zh" }}最后更新：{{ now.Format "2006年1月2日" }}{{ else }}Last updated: {{ now.Format "Jan 02, 2006" }}{{ end }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ $lang := .Language.Lang }}
                    {{ $display := index .Site.Data (printf "display.%s" $lang) }}
                    {{ $display.footer_text | safeHTML }}
                </div>
            </div>
        </div>
    </div>
</footer>